<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyubo.qs.db.DAO.ReservationMapper">

    <resultMap id="BaseResultMap" type="com.liuyubo.qs.db.POJO.Reservation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user" column="user" jdbcType="INTEGER"/>
            <result property="site" column="site" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="timeSlot" column="time_slot" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user,site,
        date,time_slot,status
    </sql>
    <insert id="insert">
        INSERT INTO tb_reservation
        (user,site,date,time_slot,status)
        VALUES
        (#{userId},#{siteId},now(),#{timeId},#{status})
    </insert>
    <select id="selectTimeConflict" parameterType="HashMap" resultType="Integer">
        select count(*)
        from tb_reservation
        where status = #{status} and user = #{userId}
    </select>
    <select id="selectAllReserve" resultType="HashMap">
        select tb_reservation.id as id,
        tb_user.username as user,
        tb_site.name as site,
        DATE_FORMAT(tb_reservation.date, '%Y-%m-%d %H:%i:%s') as date,
        tb_time_slot.time_slot as time,
        tb_reservation.status as status
        from tb_reservation
        left join tb_user on tb_reservation.user = tb_user.openid
        left join tb_site on tb_reservation.site = tb_site.id
        left join tb_time_slot on tb_reservation.time_slot = tb_time_slot.id
        where tb_reservation.status = #{status}
        order by tb_reservation.date desc
    </select>
    <select id="selectReserveByUserId" resultType="HashMap">
        select tb_reservation.id as id,
        tb_user.username as user,
        tb_site.name as site,
        DATE_FORMAT(tb_reservation.date, '%Y-%m-%d %H:%i:%s') as date,
        tb_time_slot.time_slot as time,
        tb_reservation.status as status
        from tb_reservation
        left join tb_user on tb_reservation.user = tb_user.openid
        left join tb_site on tb_reservation.site = tb_site.id
        left join tb_time_slot on tb_reservation.time_slot = tb_time_slot.id
        where tb_reservation.status = '预约成功' and tb_reservation.user = #{userId}
        limit 1;
    </select>
    <select id="allReserves" resultType="java.util.HashMap">
        SELECT res.id,
        user.username AS user,
        site.name AS site,
        res.date,
        res.status,
        time.time_slot AS timeSlot
        FROM tb_reservation res,
             tb_time_slot time,
             tb_user user,
             tb_site site
        WHERE res.time_slot = time.id AND res.user = user.openid AND res.site = site.id
        LIMIT #{start},#{size}
    </select>
</mapper>
