<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyubo.qs.db.DAO.SiteMapper">

    <resultMap id="BaseResultMap" type="com.liuyubo.qs.db.POJO.Site">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="days" column="days" jdbcType="INTEGER"/>
            <result property="capacity" column="capacity" jdbcType="INTEGER"/>
            <result property="appointmentCount" column="appointment_count" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,days,capacity,
        appointment_count,status,time_slot
    </sql>
    <insert id="addSite">
        INSERT INTO tb_site
        (name, description, days, capacity, time_slot)
        VALUES
        (#{name}, #{description}, #{days}, #{capacity}, #{timeSlots})
    </insert>
    <delete id="deleteSite">
        delete from tb_site
        where id = #{id}
    </delete>
    <select id="searchAllSite" resultType="HashMap">
        SELECT *
        FROM tb_site s
        WHERE status='可预约'
    </select>
    <select id="searchSiteByPage" resultType="HashMap">
        SELECT DISTINCT s.id,
        s.name,
        s.description,
        s.appointment_count AS count,
        s.capacity,
        s.days
        FROM tb_site s
        WHERE s.status='可预约'
        LIMIT #{start}, #{size}
    </select>
    <update id="updateSiteCount">
        UPDATE tb_site
        SET appointment_count = appointment_count + 1
        WHERE id = #{id}
    </update>
    <update id="updateSite">
        UPDATE tb_site
        SET
        <if test="name != null">
            name=#{name},
        </if>
        <if test="description != null">
            description=#{description},
        </if>
        <if test="days != null">
            days=#{days},
        </if>
        <if test="capacity != null">
            capacity=#{capacity},
        </if>
        <if test="timeSlots != null">
            time_slot=#{timeSlots},
        </if>
        <if test="status != null">
            status=#{status},
        </if>
            id=#{id}
        WHERE id=#{id}
    </update>
    <select id="searchSiteInfoById" resultType="HashMap">
        SELECT s.id,
        s.name,
        s.description,
        s.appointment_count AS count,
        s.capacity,
        s.days,
        s.time_slot,
        s.status
        FROM tb_site s
        WHERE s.id=#{id}
    </select>
    <select id="allSites" resultType="java.util.HashMap">
        SELECT DISTINCT s.id,
                        s.name,
                        s.description,
                        s.appointment_count AS count,
                        s.capacity,
                        s.days
        FROM tb_site s
        LIMIT #{start}, #{size}
    </select>
    <select id="getTimeSlotById" resultType="java.lang.String">
        SELECT time_slot AS timeSlot
        FROM tb_site
        WHERE id=#{id}
    </select>
</mapper>
