<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyubo.qs.db.DAO.SiteMapper">

    <resultMap id="BaseResultMap" type="com.liuyubo.qs.db.POJO.Site">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="point" column="point" jdbcType="OTHER"/>
            <result property="days" column="days" jdbcType="INTEGER"/>
            <result property="capacity" column="capacity" jdbcType="INTEGER"/>
            <result property="appointmentCount" column="appointment_count" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        point,days,capacity,
        appointment_count,status,time_slot
    </sql>
    <select id="searchAllSite" resultType="HashMap">
        SELECT *
        FROM tb_site s
        WHERE status='可预约'
    </select>
    <select id="searchSiteByPage" resultType="HashMap">
        SELECT DISTINCT s.id,
        s.name,
        s.description,
        s.point,
        s.appointment_count AS count,
        s.capacity,
        s.days
        FROM tb_site s
        WHERE s.status='可预约'
        LIMIT #{start}, #{size}
    </select>
    <insert id="insert"></insert>
    <update id="update"></update>
    <delete id="deleteSiteByIds"></delete>
    <select id="searchSiteCount" resultType="java.lang.Long">

    </select>
    <select id="searchTimeById" parameterType="int" resultType="String">
        SELECT
        t.time_slot
        FROM tb_time_slot t
        WHERE t.id IN (
            SELECT s.time_slot
            FROM tb_site s
            WHERE id=#{id}
            )
    </select>
    <select id="searchTimeSlotById" parameterType="int" resultType="String">
        SELECT s.time_slot
        FROM tb_site s
        WHERE id=#{id}
    </select>

</mapper>
