<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyubo.qs.db.DAO.TimeSlotMapper">

    <resultMap id="BaseResultMap" type="com.liuyubo.qs.db.POJO.TimeSlot">
            <id property="id" column="id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,time_slot
    </sql>

    <select id="searchTimeById" resultType="String">
        SELECT t.time_slot AS timeSlot
        FROM tb_time_slot t
        WHERE t.id in (
        <foreach collection="times" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </select>
    <select id="searchTimeSlotById" parameterType="int" resultType="String">
        SELECT s.time_slot
        FROM tb_site s
        WHERE id=#{id}
    </select>
    <select id="searchTimeIdByTime" resultType="Integer">
        SELECT t.id
        FROM tb_time_slot t
        WHERE t.time_slot=#{time}
    </select>
</mapper>
