<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyubo.qs.db.DAO.UserMapper">

    <resultMap id="BaseResultMap" type="com.liuyubo.qs.db.POJO.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="openId" column="openid" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="tel" column="tel" jdbcType="CHAR"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="root" column="root" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,openid,username,password,
        nickname,photo,tel,
        role,root
    </sql>
    <select id="searchUserPermissions" parameterType="int" resultType="String">
        SELECT DISTINCT p.permission_name
        FROM tb_user u
                 JOIN tb_role r ON JSON_CONTAINS(u.role, CAST(r.id AS CHAR))
                 JOIN tb_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
        WHERE u.id = #{userId}
    </select>
    <select id="searchUserSummary" parameterType="int" resultType="HashMap">
        SELECT u.openid AS openId,
               u.nickname,
               u.username,
               u.photo,
               u.tel,
               ( SELECT role_name
                 FROM tb_role r
                 WHERE r.id=u.role ) AS role
        FROM tb_user u
        WHERE u.id = #{userId}
    </select>
    <select id="searchIdByOpenId" parameterType="String" resultType="Integer">
        SELECT id FROM tb_user WHERE openid=#{openId} LIMIT 1
    </select>
    <select id="loadUserInfo" parameterType="String" resultType="HashMap">
        SELECT u.nickname,
               u.username,
               u.photo,
               u.tel,
               ( SELECT role_name
                 FROM tb_role r
                 WHERE r.id=u.role ) AS role
        FROM tb_user u
        WHERE u.openid=#{openId} LIMIT 1
    </select>
    <insert id="insert" parameterType="com.liuyubo.qs.db.POJO.User">
        INSERT INTO tb_user
        SET
        <if test="openId!=null">
            openid = #{openId},
        </if>
        <if test="username!=null">
            username = #{username},
        </if>
        <if test="password!=null">
            password = HEX(AES_ENCRYPT(#{password},#{username})),
        </if>
        <if test="nickname!=null">
            nickname = #{nickname},
        </if>
        <if test="photo!=null">
            photo = #{photo},
        </if>
        <if test="tel!=null">
            tel = #{tel},
        </if>
        <if test="role!=null">
            role = #{role},
        </if>
        <if test="root!=null">
            root = #{root}
        </if>
    </insert>
    <update id="updatePassword" parameterType="HashMap">
        UPDATE tb_user
        SET password=HEX(AES_ENCRYPT(#{password},username))
        WHERE id=#{userId}
    </update>
    <update id="update" parameterType="HashMap">
        UPDATE tb_user
        SET
            username=#{username},
            nickname=#{nickname},
            tel=#{tel}
        WHERE id=#{userId}
    </update>


</mapper>
